<div class="bg-neutral-50 rounded-3xl grid grid-cols-7 overflow-hidden">
  <div class="col-span-5 py-6 px-20">
    <div class="grid grid-cols-5">
      <span class="col-span-3 text-xl font-semibold">{{ city }}</span>
      <span class="text-xl font-semibold">{{ date }}</span>
    </div>
    <div class="flex justify-center items-start mt-20 text-neutral-500">
      <div class="flex flex-col justify-center items-center gap-4">
        <span class="font-semibold text-9xl">{{ temperature }}</span>
        <span class="text-4xl">{{ mainWeather }}</span>
      </div>
      <span class="font-semibold text-9xl">º</span>
      <div class="relative">
        <div class="absolute flex flex-col left-0 top-14">
          <div class="flex gap-5">
            <app-wind-icon />
            <span class="text-lg text-nowrap">{{ windSpeed }} mph</span>
          </div>
          <div class="flex gap-5">
            <app-humidity-icon />
            <span class="text-lg text-nowrap">{{ humidity }} %</span>
          </div>
        </div>
      </div>
    </div>
    <div class="grid grid-cols-6 gap-6 mt-10 mx-auto max-w-2xl">
      @for (forecast of weeklyForecasts; track $index) {
      <app-temperature-card
        [header]="forecast.header"
        [temperature]="forecast.temperature"
        [description]="forecast.description"
      />
      }
    </div>
  </div>
  <div class="col-span-2 p-6 bg-neutral-100 flex flex-col items-center">
    <span class="text-3xl">{{ greeting }}</span>
    <span class="text-3xl mt-6">{{ clock }}</span>
    <div class="flex gap-3 mt-12">
      <span class="text-4xl text-neutral-500">{{ detailTemperature }}º</span>
      <div class="flex flex-col justify-center">
        <div class="flex gap-2">
          <app-wind-icon customClass="w-4 h-4" />
          <span class="text-xs font-semibold text-nowrap"
            >{{ detailWindSpeed }} mph</span
          >
        </div>
        <div class="flex gap-2">
          <app-humidity-icon customClass="w-4 h-4" />
          <span class="text-xs font-semibold text-nowrap"
            >{{ detailHumidity }} %</span
          >
        </div>
      </div>
    </div>
    <span class="text-sm text-neutral-400 mt-2"
      >Feels like {{ detailTemperatureFeelsLike }}º</span
    >
    <span class="text-base text-neutral-500 mt-3">{{ detailMainWeather }}</span>
    <span class="text-base mt-6">Hourly Forecast</span>
    <div class="grid grid-cols-3 gap-4 mt-5">
      @for (forecast of hourlyForecasts; track $index) {
      <app-temperature-card
        [header]="forecast.header"
        [temperature]="forecast.temperature"
        [description]="forecast.description"
        [isActive]="forecast.isActive"
      />
      }
    </div>
  </div>
</div>
